<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <h1 class="user">USER INFO</h1>
    </mat-card-header>
    <form>
        <div class="example-container">


        </div>
        <mat-card-actions class="buttons">
            <button mat-stroked-button color="primary" type="button">Update</button>
            <button mat-stroked-button color="warn" class="clear" type="reset">Clear</button>
        </mat-card-actions>
    </form>
</mat-card>