<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <span>Employee Portal</span>
        <a routerLink="/login" class="logout">
            <button class="logout" mat-raised-button>
                Log Out
            </button>
        </a>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <div class="sidebar-container">
                <mat-nav-list class="navList">
                    <a mat-list-item routerLink=".">Nav Item 1</a>
                    <a mat-list-item routerLink=".">Nav Item 2</a>
                    <a mat-list-item routerLink=".">Nav Item 3</a>
                </mat-nav-list>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>